@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');
@import './main-4/variables.scss';

body {
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: $crna;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo Bhai', 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
}

#start {
    height: 2rem;
    background: yellow;
}

.container {
    margin: 0 auto;
    width: $largeScreen;
    @media screen and (max-width: $middleScreen) {
        width: $middleScreen;
    }
    @media screen and (max-width: $smallScreen) {
        width: 100%;
    }
}

section {
    padding: 3rem 0;
}

#cover {
    background: $crna url('/public/images/task4/hero.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
    display: flex;
    padding: 2rem 0;
    flex-direction: column-reverse;

    @media screen and (max-width: $middleScreen) {
        height: 400px;
        align-content: center;
    }

    @media screen and (max-width: $smallScreen) {
        padding-top: 4rem !important;
        background: $crna;
        height: auto;
    }

    .title {
        color: white;
        text-align: center;
        padding: 1.6rem 0;

        p {
            font-size: 1.6rem;
            margin-top: 0;
            margin-bottom: 0;
            background: rgba($crna, 0.7);
            padding: 1.6rem;
            margin-bottom: 1.6rem;
        }

        button {
            border: 0;
            background: $crvena;
            font-size: 1.4rem;
            display: inline-block;
            padding: 1rem 2rem;
            color: inherit;
            border-radius: 1rem;
        }
    }
}

#what {
    background: $svetloSiva;

    .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        @media screen and (max-width: $middleScreen) {
            justify-content: start !important;
            .item {
                width: 46% !important;
            }
        }
        @media screen and (max-width: $smallScreen) {
            .item {
                width: 100% !important;
            }
        }

        .item {
            text-align: center;
            width: 28.33%;
            margin: 1rem 2% 0;
            padding: 1.5rem;
            box-sizing: border-box;
            border-radius: 1rem;
            background: $svetloSiva;
            color: $crna;
            transition: all .4s ease;

            &:hover {
                background: $crna;
                color: $svetloSiva;
                .img-cont {
                    background: $crvena;
                }

            }

            .img-cont {
                width: 6rem;
                height: 6rem;
                border-radius: 6rem;
                background: $svetloSiva;
                padding: 1.2rem;
                margin: 1rem auto;
                box-sizing: border-box;
                transition: background .4s ease;

                img {
                    width: 100%;
                    height: auto;
                }
            }
            p {
                text-align: left;
                margin-top: 0;
                margin-bottom: 0.2rem;
                &.intro {
                    text-align: center;
                    font-weight: 700;
                    color: $crvena;
                }
            }
        }
    }
}