// Colors

$clr-orange: #f75311;
$clr-darkblue: #374249;
$clr-font: #797979;
$clr-lightgrey1: #cfd1d3;
$clr-lightgrey2: #f3f7f9;

$clr-headings: $clr-darkblue;
$clr-header: $clr-darkblue;

// Font

@import url('https://fonts.googleapis.com/css?family=Roboto');

$font: 'Roboto', sans-serif;